PORT=5000
MONGODB_URI=mongodb+srv://pallavi:ejvOIQzYd0YAcatS@cluster0.n0amkfq.mongodb.net/expert-booking?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:3000
NODE_ENV=development